body{
	margin:0
}
fieldset{
	margin:0 2px;padding:.35em .625em .75em;border:1px solid silver
}
textarea{
	overflow:auto
}
table{
	border-spacing:0;border-collapse:collapse
}
button,input,optgroup,select,textarea{
	font:inherit;margin:0;color:inherit
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
	cursor:pointer;-webkit-appearance:button
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;border:0
}
td,th{
	padding:0
}
*,:after,:before{-moz-box-sizing:border-box;box-sizing:border-box}
html{
	overflow:hidden;width:100%;height:100%
}
body{
	overflow:hidden;width:100%;height:100%;background-color:#fff
}
hr{
	margin:0;border:0
}
img{
	width:auto;max-width:100%;height:auto;margin:0 auto;vertical-align:middle;-ms-interpolation-mode:bicubic
}
html{
	font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}
h1,h2,h3,h4,h5,h6{
	margin:0;padding:0
}
a{
	transition:all .25s ease-in-out;text-decoration:none;color:#a9aeb2
}
a:visited{
	color:#a9aeb2
}
a:hover{
	color:#000
}
a:active,a:focus{
	color:#a9aeb2;outline:0
}a
.g__row:after{
	display:table;clear:both;content:''
}
.g__limited{
	max-width:92%;margin:0 auto
}
.g__limited:after{
	display:table;clear:both;content:''
}
.g__b0--full{
	float:left;width:100%;margin-right:0;margin-left:0
}
.page{
	position:relative;overflow:hidden;width:100%;height:100%
}
.alert{
	display:none
}
.alert--landscape{
	position:absolute;top:0;right:0;bottom:0;left:0;display:block;width:100%;height:100%;background-color:#fff;background-image:url(../images/13c3c1da.landscape.png);background-repeat:no-repeat;background-position:center center;background-size:80px 80px
}
.page__header{
	position:absolute;top:0;right:0;left:0;height:88px;background-color:#fff
}
.page__content{
	position:absolute;top:88px;right:0;left:0;background-color:#fff
}
.page__footer{
	position:absolute;right:0;bottom:0;left:0;height:44px;background-color:#fff
}
.m-logo{
	height:80px;padding:25px 0 7px 16px
}
.m-logo img{
	width:auto;max-height:100%
}
.m-sign{
	height:40px;padding:10px 0 10px 16px
}
.m-sign img{
	width:auto;max-height:100%
}
.m-photo-slider{
	width:100%;min-width:100%;height:100%;background-color:#000
}
.m-photo-slider__item{
	float:left;width:auto;height:100%;margin:0 0 0 5px
}
.m-photo-slider__item:first-child{
	margin-left:0
}
.m-photo-slider-item .m-photo-slider-item__photo{
	background-color:#000
}
.m-photo-slider-item img{display:block;max-height:100%}.--hidden{visibility:hidden;opacity:0}.--visible{visibility:visible;transition:opacity 1s ease-in 0s;opacity:1}@media (min-width:31.25em){body{font-size:.9375em}
.g__limited{max-width:94%}
.m-intro{float:left;width:1500px;height:100%}
.m-intro__typeset{padding:32px 48px 0}}@media (min-width:37.5em){body{font-size:1em}
.paragraph,p{margin:0 0 1.61803em}
.g__limited{max-width:96%}
.m-intro__typeset{padding:32px 64px 0}}@media (min-width:52.5em){body{font-size:1em}
.g__limited{max-width:96%}
.m-intro__typeset{padding:64px 80px 0}}@media (min-width:87.5em){body{font-size:1em}
.g__limited{max-width:97%}
.m-intro__typeset{padding:80px 96px 0}}@media (min-width:99.375em){body{font-size:1em}
.g__limited{max-width:97%}
.m-intro__typeset{padding:96px 112px 0}}@media (min-width:117.5em){body{font-size:1em}
.g__limited{max-width:97%}
.m-intro__typeset{padding:112px 132px 0}}