 html { 
	background: url(../Images/BG.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }
 body {
	font-size: 1em;
	font-weight: normal;
	font-family: Verdana, Sans-serif;
	color: #CCEEFF; /* gray white */
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
  }
 h1 {
	font-size: 1.8em;
	font-weight: bold;
	color: #CCEEFF; /* gray white */
	text-align: center;
	}
h2{
	font-size: 1.5em;
	font-weight: bold;
	color: #CCEEFF; /* gray white */
	text-align: center;
	}
/*change colours*/
div {
	background: rgba(194, 13, 52, 0.5);
    border-radius: 25px;
	padding: .5%;
    border: 1px solid black;
	border-style: groove;
   	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	box-shadow: 10px 10px 5px #000000;
	}
div.blank {
	opacity: 0;
	height: 350px;
	width: 100%;
	}
div.info{;}
div#skipnav{
    width:30%;
	box-shadow: 0px 0px 0px #000000;
	}
p { 
    background-color: #FFCE82;
    padding: 1em;
    border-width: 2%; 
    border-style: solid;
    border-color: blue;
	border-radius: 10px;
      } 
p#overview {;}
p.summary {
	background-color: #09876B;
    padding: 1em;
    border-width: 2%; 
    border-style: double;
    border-color: D18D0E;
	}
ul.intro{
    list-style-type: none;
	margin:0px 5px;
	} 

li {
	}
table
	{
	background-color: #09876B;
	padding: 1em;
	border-width: 5px;
	border-style: groove;
	border-color: #000000
	}
caption
	{
	background-color: #09876B;
	padding: 1em;
	border-width: 5px;
	border-style : groove;
	border-color: #000000;
	font-style:italic;
	}
tr
	{
	background-color: #09876B;
	padding: 1em;
	border-width: 5px;
	border-style: groove;
	border-color: #000000;
	}
td
	{
	background-color: #09876B;
	padding: 1em;
	border-width: 5px;
	border-style: groove;
	border-color: #000000
	}
thead
	{
	background-color: #09876B;
	padding: 1em;
	border-width: 5px;
	border-style: groove;
	border-color: #000000
	}

/*editing hyper-links*/
a:link {
	color: #000000; 
	text-decoration: underline; 
	}
a:active {
	color: #0000ff;
	text-decoration: underline; 
	}
a:visited {
	color: #008000; 
	text-decoration: underline; 
	}
a:hover {
	color: #ff0000; 
	text-decoration: none;
	}

/* nav menu styles*/
div.nav{
	background: rgba(194, 13, 52, 1);
	position: fixed;
	top: 5px;
	right:10px;
	left: 10px;
	width: 98%;
	
	border-radius: 0px; 
	box-shadow: 0px 0px 0px #000000;
	}
ul.nav{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;;}	
.nav ul li { display: inline; }

button { 
	font-size: 1.1em;
	background-color: #EBF5FF;
	color: #4312AE;
	border: 2px solid black;
	box-shadow: 4px 4px 4px #999999;
	}
button:hover, button:focus, button:active { 
    /* swap colors */
	color: #EBF5FF;
	background-color: #4312AE;
	cursor: pointer; /* displays a hand */
	}
