a:link    {color:#000000; background-color:transparent; text-decoration:none}
.im:hover
{
-webkit-filter: brightness(0.5);
border: none;
}
.im
{
opacity:1;
border: none;
}
/* div.img a:hover img {
    border: 1px solid #0000ff;
} */

	h1, h2 {
		/*border: rgb(0, 0, 0) 2px solid;
		border-left: 1px none;
		border-right: 1px none;
		border-top: 1px none;
		margin-bottom: 1em;
		margin-left: -10px;
		margin-right: 0px;
		padding: 20px;
		width: 98%;
		display: block;
		color:  rgb(0, 0, 0);
		font-size: 2.0em;
		font-weight: bold;
		letter-spacing: 2px;
		text-align: left;
		height: 21px;
		position: relative;*/
	}
body {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 150%;
  font-family: "Noto Sans", sans-serif;
  color: #2567B0;
}
h2 {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
a {
text-transform:none;text-decoration:none;
color:#000;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
-webkit-trasnition-duration:0.7s;
transition-duration:0.7s;
}
a:hover {
  color:#9e9e9e;
  -moz-transition-duration:0.7s;
  -o-transition-duration:0.7s;
  -webkit-trasnition-duration:0.7s;
  transition-duration:0.7s;
}
	/*body {
		font-family: Trebuchet MS, sans-serif; font-size: larger;
		margin-bottom: 20px;
		margin-top: 0px;
		color: rgb(0, 0, 0);
		background-image: url("background.jpg");*/
	}
	td {
		text-align: center;
	}
	img {
		border-style: solid;
		border-color: rgb(0,0,0);
		border-width: 0px;
	}
	table.center {margin-left:auto; margin-right:auto;}
	#httphotos {
		position: absolute;
		right: 0px;
		bottom: 20px;
		margin: 0px;
		padding: 0px;
	}

	#httphotos img {
		border: 0px;
	}

#share-buttons img {
width: 30px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;;
    background-color: transparent;
}

ul .btn {
    display: none;
    cursor: pointer;
}

ul li {
    float: right;
}

ul li a {
    display: block;
    padding: 15px 0 15px 20px;
    text-decoration: none;
    /*color: #bbb;*/
}

ul li a:hover {
    /*color: #fff;
    border-bottom: 3px solid #458122;*/
}

@media (max-width: 30em) {
    ul li {
        float: none;
    }
    ul .btn {
        display: block;
    }
    ul .menu li a {
        padding: 0px 20px 10px 20px;
    }
    ul .menu {
        display: none;
    }
    ul li:hover .menu {
        display: block;
    }
}

#top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px dashed #458122;
}